<!-- Partial for creating a new list with a collapsible form -->
<!-- Uses Bootstrap engines for collapse functionality -->
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreate" aria-expanded="false" aria-controls="collapseCreate">
    Create a list
  </button>
</p>

<div class="collapse" id="collapseCreate">
  <div class="card card-body">
    <%= form_for(@list, url: lists_path) do |f| %>
        <%= f.label :name, placeholder: "Name of List" %>
        <%= f.text_field :name, placeholder: "Enter list name" %>
        <%= f.submit "Create List" %>
    <% end %>
  </div>
</div>