<div class="middleBox">
<h1> View Lists </h1>

<% unless @lists.empty? %>
<%= render "lists/show_button" %>
<% end %>

<% if @lists.empty? %>
      <h4> No Lists Found </h4>
<% end %>

<%= render "lists/create_button" %>


</div>