<div class="middleBox">
      <h1> View Lists </h1>
      <h2><%= notice || "" %></h2>

      <%= render "lists/create_button" %>
      
      <% unless @lists.empty? %>
            <%= render "lists/show_button" %>
      <% end %>

      <% if @lists.empty? %>
            <h4> No Lists Found </h4>
      <% end %>

      <%= link_to "Back to Home", root_path, class: "btn_custom btn_list_index" %>

</div>