  <div class="searchForm">
  <form class="form-inline">
    <input class="form-control mr-sm-2 inputSearch" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 btnSearch" type="submit">Search</button>
  </form>
  </div>