<!-- About Page for the Pokemon App -->
<div class="middleBox">

        <div class="aboutImageDiv">
            <%= image_tag "pokemon_image.png", alt: "Pokemon Image", class: "aboutImage" %>
        </div>
        <div class="aboutText">
            <h2>About Me</h2>
            <p>Hello! My name is Nykyta, and welcome to my Pokemon App</p>
            <h2>My Mission</h2>
            <p>My mission is to create a user-friendly and helpful program that would assist thousands of Pokemon fans to keep track of their collection.</p>
            <h2>Contact Me</h2>
            <p>If you have any questions or feedback, feel free to reach out at: <a href="mailto: x22140115@student.ncirl.ie">Send Mail</a></p>
        </div>

</div>