<!-- FAQ Page for the Pokemon App -->
<div class="middleBox">
<div class="faqBox">

    <h2 id="faqHead"> Frequently Asked Questions (FAQ) </h2>


    <!-- General Questions Section -->
    <div>
        <div class="questionHeader">
            <h5> General Questions </h5>
        </div>
        
        <div>
            <button class="btn btn-primary btnGeneral" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="question1 question2 question3 question4">Open Questions</button>
        </div>

        <div class="faqQuestions">

            <div class="collapse multi-collapse" id="question1">
            <br>     
            <pre>What is this app for? 
This app helps users browse, search, and organise cards in one convenient place.</pre> 
            </div>
            <div class="collapse multi-collapse" id="question2">
                    <pre>Who can use it? 
Anyone with an interest in cards can use the app. Some features may require an account.</pre>
            </div>

            <div class="collapse multi-collapse" id="question3">
                <pre>Is this website part of Nintendo brand?
No. This website is an independent project and is not affiliated with or endorsed by Nintendo.</pre>
            </div>

            <div class="collapse multi-collapse" id="question4">
                <pre>Is it free to use?
Yes, the app is free to use.</pre>
            </div>

        </div>

    </div>


    <!-- App Features Questions Section -->
    <div>
        <div class="questionHeader">
            <h5> App Features Questions </h5>
        </div>
    
        <div>
            <button class="btn btn-primary btnGeneral" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse2" aria-expanded="false" aria-controls="question3 question4 question5 question6">Open Questions</button>
        </div>

        
        <div class="faqQuestions">

            <div class="collapse multi-collapse2" id="question5">
            <br>
            <pre>What are the features of the app?
Key features include card search, detailed card views, 
and the ability to create and manage personal lists.</pre>
            </div>

            <div class="collapse multi-collapse2" id="question6">
            <pre>How to search for cards?
Use the search bar and enter a card name or keyword to view matching results.</pre>
            </div>

            <div class="collapse multi-collapse2" id="question7">
            <pre>How to create a List?
Sign in to your account, then create a new list from the lists section and add cards to it.</pre>
            </div>

            <div class="collapse multi-collapse2" id="question8">
            <pre>Why is the search not returning anything?
This may happen if the search term is misspelled, too specific,
 or not currently available in the database. Try checking your spelling.</pre>
            </div>

        </div>

    </div>



</div>
</div>
