<div class="middleBox">
<div class="faqBox">

    <h2 id="faqHead"> Frequently Asked Questions (FAQ) </h2>


    <!-- General Questions Section -->
    <div>
        <div class="questionHeader">
            <h5> General Questions </h5>
        </div>
        
        <div>
            <button class="btn btn-primary btnGeneral" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="question1 question2 question3 question4">Open Questions</button>
        </div>

        <div class="faqQuestions">

            <div class="collapse multi-collapse" id="question1">
            <br>     
            <pre>What is this app for? 
Answer to question 1.</pre> 
            </div>
            <div class="collapse multi-collapse" id="question2">
                    <pre>Who can use it? 
Answer to question 2.</pre>
            </div>

            <div class="collapse multi-collapse" id="question3">
                <pre>Is this website part of Nintendo brand?
Answer to question 3.</pre>
            </div>

            <div class="collapse multi-collapse" id="question4">
                <pre>Is it free to use?
Answer to question 4.</pre>
            </div>

        </div>

    </div>


    <!-- App Features Questions Section -->
    <div>
        <div class="questionHeader">
            <h5> App Features Questions </h5>
        </div>
    
        <div>
            <button class="btn btn-primary btnGeneral" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse2" aria-expanded="false" aria-controls="question3 question4 question5 question6">Open Questions</button>
        </div>

        
        <div class="faqQuestions">

            <div class="collapse multi-collapse2" id="question5">
            <br>
            <pre>What are the features of the app?
Answer to question 5.</pre>
            </div>

            <div class="collapse multi-collapse2" id="question6">
            <pre>How to search for cards?
Answer to question 6.</pre>
            </div>

            <div class="collapse multi-collapse2" id="question7">
            <p>How to create a List?</p>          
            Answer to question 7.
            </div>

            <div class="collapse multi-collapse2" id="question8">
            <p>Why is the search not returning anything?</p>          
            Answer to question 8.
            </div>

        </div>

    </div>



</div>
</div>
