<div class="middleBox">
    <h1>404 - Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
    <h2>Return Home</h2>
    <%= link_to "Home", root_path, class: "btn btn-custom" %>
</div>