@import "bootstrap";

*{
  max-height: 100vh;
}

#signUp {
  padding-bottom: 50px;
  text-align: center;
}

.middleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.subForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions input {
  border-radius: 20px;
  border-style: none;
  margin-top: 10px;
  font-size: large;
  background-color: lavender;
  padding : 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn_custom {
  background-color: lavender;
  padding : 8px;
  border-style: none;
  border-radius: 20px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-style: none;
  text-decoration: none;
  color: black;
  text-align: center;
}

.logSign {
  margin-right: 20px;
  font-size: smaller;
}

.logText:hover{
  color: white;
}

.nav-link.logText {
  color: blue;
}

.notices {
  color: red;
}

.titleHead {
  font-size: larger;
  color: rgb(238, 108, 108);
}

.titleHead:hover {
  color: white;
}

.tableForm {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.tableForm tr {
  vertical-align: middle;
}


.tableForm td {
  text-align: center;
  margin: 0;
}

#listName {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.listBtn {
  border: none;
}


.searchForm  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.inputSearch {
  margin-bottom: 8px;
  border: 2px solid green;
}

.btn404 {
  border: 2px dotted blue;
}

.btn404:hover {
  border: 2px solid green;
  background-color: azure;
}

.btn_signup {
  text-align: center;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .nav-link.logText {
  padding-left: 15px;
}
.inputSearch {
  min-width: 500px;
}
}

@media only screen and (max-width: 600px) {
.inputSearch {
  min-width: 200px;
}
}


// Return Page
.searchOut{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-height: 600px;
  min-width: 450px;
  border: 2px solid red;
  padding: 5px;
}

.cardResult {
  border: 2px solid black;
  max-height: 580px;
  min-width: 400px;
  width: 90%;
  overflow-x: scroll;
  text-align: center;
  margin-top: 5px;
}

.resultSearch {
  padding-top: 8px;
}

.cardValues {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchImg {
  max-height: 180px;
}